<ul>
  <li>
    <span><%= icon "tags" %> <%= link_to "Assets", assets_path %></span>
  </li>
  <li>
    <span><%= icon "list-alt" %> <%= link_to "Rentals", rentals_path %></span>
  </li>
  <% if can? :manage, User %>
  <li>
    <span><%= icon "users" %> <%= link_to "Users", users_path %></span>
  </li>
  <% end %>
  <% if can? :manage, :all %>
  <li>
    <span><%= icon "cog" %> <%= link_to  "Settings", root_path %></span>
  </li>
  <% end %>
</ul>
