<h2>Settings</h2>

<h3>Asset States</h3>
<%= form_for [:settings, @new_state] do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Create", class: 'btn btn--s btn--gray' %>
<% end %>
<br>
<ul>
  <% @states.each do |state| %>
  <li><%= state.name %> <%= link_to '', settings_state_path(state), method: :delete, class: "ion-ios-close-outline" %></li>
  <% end %>
</ul>

<h3>Asset Locations</h3>
<%= form_for [:settings, @new_location] do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Create", class: 'btn btn--s btn--gray' %>
<% end %>
<br>
<ul>
  <% @locations.each do |location| %>
  <li><%= location.name %> <%= link_to '', settings_location_path(location), method: :delete, class: "ion-ios-close-outline" %></li>
  <% end %>
</ul>

<h3>Asset Types</h3>
<%= form_for [:settings, @new_type] do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Create", class: 'btn btn--s btn--gray' %>
<% end %>
<br>
<ul>
  <% @types.each do |type| %>
  <li><%= type.name %> <%= link_to '', settings_type_path(type), method: :delete, class: "ion-ios-close-outline" %></li>
  <% end %>
</ul>


<h3>Asset Manufacturers</h3>
<%= form_for [:settings, @new_manufacturer] do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Create", class: 'btn btn--s btn--gray' %>
<% end %>
<br>
<ul>
  <% @manufacturers.each do |manufacturer| %>
  <li><%= manufacturer.name %> <%= link_to '', settings_manufacturer_path(manufacturer), method: :delete, class: "ion-ios-close-outline" %></li>
  <% end %>
</ul>

<h3>Rentable Asset Type</h3>
<%= form_for Settings::RentableAssetType.get, :url => rentable_asset_type_settings_updates_path(@rentable_asset_type), :as => :setting do |f| %>
  <%= f.label :type %>
  <%= f.collection_select :rentable_asset_type, @types, :id, :name %>
  <%= f.submit "Save", class: 'btn btn--s btn--gray' %>
<% end %>
