<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_title %><br>
    <%= f.text_field :event_title, placeholder: 'Event Title' %>
  </div>
  <div class="field">
    <%= f.label :event_location %><br>
    <%= f.text_field :event_location, placeholder: 'Event Location' %>
  </div>
  <div class="field">
    <%= f.label :event_description %><br>
    <%= f.text_area :event_description, placeholder: 'Event Description', cols: 70, rows: 15 %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.date_select :event_date %>
  </div>
  <div class="field">
    <%= f.label :setup_help %><br>
    <%= f.check_box :setup_help %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn--s btn--gray' %>
  </div>
<% end %>
