<%= form_for(@asset) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asset_name %><br>
    <%= f.text_field :asset_name, placeholder: 'Asset Name' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder: 'Description', rows: 10, cols: 50 %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, placeholder: 'Location' %>
  </div>
  <div class="field">
    <%= f.label :model_number %><br>
    <%= f.text_field :model_number, placeholder: 'Model Number' %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br>
    <%= f.text_field :serial_number, placeholder: 'Serial Number' %>
  </div>
  <div class="field">
    <%= f.label :purchase_date %><br>
    <%= f.date_select :purchase_date, :start_year => 1990 } %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost, placeholder: '0.0' %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status, placeholder: 'Status' %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes, placeholder: 'Notes' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn--s btn--gray' %>
  </div>
<% end %>

<div id="asset_tags">
  <h3>Asset Tag History</h3>
  <ul>
    <% @asset.asset_tags.each do |tag| %>
      <li><span><%= tag.tag_number %></span><span>Controls go here</span></li>
    <% end %>
  </ul>
</div>
