<h1>Listing Assets</h1>

<% if can? :manage, Asset %>
<p>
  <%= link_to "CSV", assets_path(format: "csv"), class: 'btn btn--s btn--gray', download: '' %>
</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Asset Tag</th>
      <th>Asset Name</th>
      <th>Status</th>
      <th>Notes</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <% if can? :show, asset %>
        <tr>
          <td><%= link_to asset.current_tag.tag_number, asset_path(asset) %></td>
          <td><%= link_to asset.asset_name, asset_path(asset) %></td>
          <td><%= asset.status %></td>
          <td><%= asset.notes %></td>
          <td><%= asset.location %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @assets %>
<br>
<% if can? :create, Asset %>
<%= link_to 'New Asset', new_asset_path, class: 'btn btn--s btn--gray' %>
<% end %>
