<p id="notice"><%= notice %></p>

<p>
  <strong>Asset tag:</strong>
  <%= @asset.current_tag.tag_number %>
</p>

<p>
  <strong>Asset name:</strong>
  <%= @asset.asset_name %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @asset.serial_number %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @asset.purchase_date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @asset.cost %>
</p>

<p>
  <strong>Status:</strong>
  <%= @asset.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @asset.notes %>
</p>

<p>
  <strong>Location:</strong>
  <%= @asset.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @asset.description %>
</p>

<p>
  <strong>Model Number:</strong>
  <%= @asset.model_number %>
</p>

<p>
  <strong>Asset Type:</strong>
  <% @asset.types.each do |type|%>
    <br>- <%= type.name %>
  <% end %>
</p>

<p>
  <strong>Asset State:</strong>
  <%= @asset.state.name if @asset.state %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @asset.manufacturer ? @asset.manufacturer.name : 'No Manufacturer' %>
</p>

<% if can? :update, @asset %>
<%= link_to 'Edit', edit_asset_path(@asset), class: 'btn btn--s btn--gray' %> |
<% end %>

<%= link_to 'Back', assets_path, class: 'btn btn--s btn--gray' %>

<% if CONFIG[:LABEL_PRINTING][:ENABLED] and can? :update, @asset %>|
<%= link_to 'Print', print_asset_path(@asset), class: 'btn btn--s btn--gray' %>
<% end %>
