<!DOCTYPE html>
<html>
<head>
  <title>Collie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="nav">
    <section id="header-sidebar">
      <div class="">
        <%= link_to 'Collie', root_path, class: 'brand' %>
      </div>
    </section>
    <section id="header-main">
    </section>
  </header>
  <main>
    <section id="sidebar">
    </section>
    <section id="main">
      <div id="main-container">
        <%= yield %>
      </div>
    </section>
  </main>
  <footer>
  </footer>
</body>
</html>
